{% load render_bundle from webpack_loader %}

<!DOCTYPE html>

<html>

  <head>

    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width" />

    <title>Baara Taani</title>

    {% render_bundle 'main' 'css' %}

    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-5100044328354695",
    enable_page_level_ads: true
  });
</script>

  </head>

  <body>

    <div id="root">

    </div>

    {% render_bundle 'main' 'js' %}

  </body>

</html>
